{% extends "base.html" %}

{% block title %} Blog List {% endblock title %}

{% block content %}
    
    <div class="container mt-5">
        <h1 class="mb-4">Blog List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Image</th>
                    <th>Post Date</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs %}
                <tr>
                    <td><a href="{% url 'blog_detail' blog_id=blog.id %} ">{{ blog.id }}</a></td>
                    <td><a href="{% url 'blog_detail' blog_id=blog.id %} ">{{ blog.title }}</a></td>
                    <td>{{ blog.author.username }}</td>
                    <td>
                        {% if blog.blog_image %}
                        <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>{{ blog.post_date|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ blog.category }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock content %}
